version: "3.9"

services:
  zookeeper:
    image: confluentinc/cp-zookeeper:7.3.2
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
    ports:
      - "2181:2181"

  kafka:
    image: confluentinc/cp-kafka:7.3.2
    container_name: kafka
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1

  redis:
    image: redis
    container_name: redis
    ports:
      - "6379:6379"

  api-gateway:
    build: ./gateway
    container_name: api-gateway
    ports:
      - "3000:3000"
    depends_on:
      - kafka
      - redis

  order-service:
    build: ./services/order-service
    container_name: order-service
    depends_on:
      - kafka
      - redis

  payment-service:
    build: ./services/payment-service
    container_name: payment-service
    depends_on:
      - kafka

  inventory-service:
    build: ./services/inventory-service
    container_name: inventory-service
    depends_on:
      - kafka

  fraud-service:
    build: ./services/fraud-service
    container_name: fraud-service
    depends_on:
      - redis
    environment:
      LOCALSTACK_URL: "http://host.docker.internal:4566"
      AWS_ACCESS_KEY_ID: "test"
      AWS_SECRET_ACCESS_KEY: "test"
      AWS_DEFAULT_REGION: "us-east-1"

